.Dungeon {
  display: flex;
}

.row {
  display: flex;
  justify-content: center;
  color: red;
}

.flex-container {
  border: 1px solid black;
  height: 100%;
}

.cell {
  height: 1em;
  width: 1em;
  border: 1px solid transparent;
}

.floor {
  background: #d6d1d1;
}
.hero {
  background: green;
}

.portal {
  background: red;
}
.monster {
  background: purple;
}
.health {
  background: blue;
}
.Boss {
  background: yellow;
}
