.Dungeon {
  display: flex;
}

.row {
  display: flex;
  justify-content: center;
  color: red;
}

.flex-container {
  border: 1px solid black;
  height: 100%;
}

.cell {
  height: 1.2em;
  width: 1.2em;
  border: 1px solid transparent;
  background: black;
}

.floor {
  background-image: url("../gameElements/ice2.png");
}
.hero {
  background: green;
}

.portal {
  background-image:url("../gameElements/dngn_blue_fountain.png"), url("../gameElements/ice2.png");
  background-size: contain;
}
.ArachnaDemos {
  background-image:url("../gameElements/redback.png"), url("../gameElements/ice2.png");
  background-size: contain;
}

.Abomination {
  background-image:url("../gameElements/abomination_large1.png"), url("../gameElements/ice2.png");
  background-size: contain;
}
.Skraw{
  background-image:url("../gameElements/hell_knight.png"), url("../gameElements/ice2.png");
  background-size: contain;
}

.Mygo {
  background-image:url("../gameElements/giant_mosquito.png"), url("../gameElements/ice2.png");
  background-size: contain;
}
.health {
  background-image:url("../gameElements/i-heal.png"), url("../gameElements/ice2.png");
  background-size: contain;
}

.Boss {
  overflow: visible;
  background-image: url("../gameElements/ice2.png");
}

.BossArea {
  background-image: url("../gameElements/ice2.png");
}

img {
  position: absolute;
  z-index: 3;

}
.weapon {
  background-image:url("../gameElements/unseen_item.png"), url("../gameElements/ice2.png");
  background-size: contain;
}
.wall {
  background-image: url("../gameElements/cobble_blood8.png");
  border-radius: 10%;
}
